# Markdowns
## Markdowns
### Markdowns
#### Markdowns
##### Markdowns
###### Markdowns

### Inserting an image
![text](https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)

### Inserting a site
[site](https://www.google.com/search?q=images&sxsrf=ACYBGNQTWRm845sEFE3zy_A0vqF4me6ovQ:1575217468637&tbm=isch&source=iu&ictx=1&fir=Hc12q6ggbzStcM%253A%252CpFs_4Fcq5AgpmM%252C_&vet=1&usg=AI4_-kRuX6iPkzO5XSXRqUbYE2WUDM7_5w&sa=X&ved=2ahUKEwjd16Wt7pTmAhUVzjgGHVlGAUUQ9QEwAnoECAgQMw#imgrc=Hc12q6ggbzStcM:)

### for creating ordered list
1. abc
2. efg
    1. a
    2. b
3. hij
    1. c
    2. d

### - symbol for creating unordered list
- abc
- efg
    - a
    - b
- hij
    - c
    - d

### ** for bold and single * for itlalic text
**preeti**<br>
*preeti*

#### Input & output
#### variables
#### Numbers,Boolean
#### strings

In [3]:
#output functiond
print("hello world!!")

hello world!!

In [4]:
#variable creation
#Rules to create an identifier-->
#1.name should begin with a character
#2.no special characters allowed except _
#3.keywords cannot be identifiers
x = 10
y = 20
x + y

30

In [5]:
name = "preeti"
age = 25
print("my name is:",name,"age is:",age)

my name is: preeti age is: 25

In [7]:
name = input("enter ur name")
age = int(input("enter ur age"))
print("my name is:",name,"and my age is:",age)

enter ur namepreeti
enter ur age25
my name is: preeti and my age is: 25

### Fundamental Datatypes:
1. int
2. float
3. complex
4. Boolean
5. String

In [8]:
x = 10
y = 12.34
z = 5+6j
print(type(x),type(y),type(z))

<class 'int'> <class 'float'> <class 'complex'>

In [9]:
c = complex(3,4)
print(c)

(3+4j)

In [10]:
c1 = 3+5j #complex
c2 = 6+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+12j)
(-3-2j)
(-17+51j)

In [11]:
a = True #boolean
b = False
x > y

False

In [12]:
#strings
s1 = "abc"
s2 = 'xyz'
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [13]:
i = 100
print(type(i))
s1 = str(i) # str() converts the input into string type
print(type(s1))
f1 = float(i) # float() converts the input into float type
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [14]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [15]:
# A number is given 1234 -
# Digit count
a1 = 1234
print(len(str(a1)))

4

### Operators:
1. Arithmetic operators --> +,-,*,/,%,//,**
2. Logical operators--> and,or,not
3. Relational operators --> <,>,<=,>=,==,!=
4. Membership operators --> in,not in

In [2]:
#Arithmetic operators
n1 = 12
n2 = 23
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1/n2)
print(n1%n2)
print(n1//n2)
print(n1**n2)

35
-11
276
0.5217391304347826
12
0
6624737266949237011120128

In [3]:
#Logical operators
x = 20
y = 30
print(x>=10 and x<=20)
print(x>=10 or x<=20)
print(not x)

True
True
False

In [5]:
#Relational operators
print(x == y)
print(x != y)
print(x<y)
print(x>y)

False
True
True
False

In [8]:
#Membership operators
str1 = "abc"
print('a' in str1)
print('a' not in str1)

True
False

### Conditional statements:
1. if
2. else
3. elif

### Syntax:
#### if condition:
> statements<br>
#### else:
> statements

In [9]:
# To check given number is even or odd
n = int(input("Enter a number"))
if n%2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number23
Odd

In [10]:
# To check given number is perfectly multiple of 3 and 5
n = int(input("Enter a number"))
if n%3 == 0 and n%5 == 0:
    print("Yes")
else:
    print("No")

Enter a number24
No

In [11]:
# test given number is positive, Negative or Zero
n = int(input("Enter a number"))
if n == 0:
    print("Zero")
elif n>0:
    print("Positive Number")
elif n<0:
    print("Negative number")

Enter a number45
Positive Number

In [12]:
# Check the input is Leap year or not
year = int(input(''))
if year % 400 == 0 or (year % 100 != 0 and year % 4 ==0 ):
    print('Leap year')
else:
    print('Not leap year')

2016
Leap year

### Loops:
1. while loop
2. for loop

In [13]:
# Print numbers from 1 to N
# Input : 10
# Output : 1 2 3 4 5 .......... 10
n = int(input('Enter a number : '))
i = 1
while i <= n:
    print(i,end= " ")
    i = i + 1

Enter a number : 10
1 2 3 4 5 6 7 8 9 10

In [15]:
# Read a numbers as input
# Output as Only even numbers sum from 1 to N

#input  : 10
#Output : 30 (2+4+6+8+10)

n = int(input(''))
i = 1
s = 0
while i <= n:
    if i % 2 == 0:
        s = s +i        
    i = i + 1 
print(s)

10
30

In [16]:
# Read a number as input
# Output has be Digits of the number

# Input : 123
# Output : 3 2 1

n = int(input(''))
while n != 0 :
    print(n%10,end=' ')
    n = n // 10

123
3 2 1