# Markdowns
## Markdowns
### Markdowns
#### Markdowns
##### Markdowns
###### Markdowns

### Inserting an image
![text](https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)

### Inserting a site
[site](https://www.google.com/search?q=images&sxsrf=ACYBGNQTWRm845sEFE3zy_A0vqF4me6ovQ:1575217468637&tbm=isch&source=iu&ictx=1&fir=Hc12q6ggbzStcM%253A%252CpFs_4Fcq5AgpmM%252C_&vet=1&usg=AI4_-kRuX6iPkzO5XSXRqUbYE2WUDM7_5w&sa=X&ved=2ahUKEwjd16Wt7pTmAhUVzjgGHVlGAUUQ9QEwAnoECAgQMw#imgrc=Hc12q6ggbzStcM:)

### for creating ordered list
1. abc
2. efg
    1. a
    2. b
3. hij
    1. c
    2. d

### - symbol for creating unordered list
- abc
- efg
    - a
    - b
- hij
    - c
    - d

### ** for bold and single * for itlalic text
**preeti**<br>
*preeti*

#### Input & output
#### variables
#### Numbers,Boolean
#### strings

In [3]:
#output functiond
print("hello world!!")

hello world!!

In [4]:
#variable creation
#Rules to create an identifier-->
#1.name should begin with a character
#2.no special characters allowed except _
#3.keywords cannot be identifiers
x = 10
y = 20
x + y

30

In [5]:
name = "preeti"
age = 25
print("my name is:",name,"age is:",age)

my name is: preeti age is: 25

In [7]:
name = input("enter ur name")
age = int(input("enter ur age"))
print("my name is:",name,"and my age is:",age)

enter ur namepreeti
enter ur age25
my name is: preeti and my age is: 25

### Fundamental Datatypes:
1. int
2. float
3. complex
4. Boolean
5. String

In [8]:
x = 10
y = 12.34
z = 5+6j
print(type(x),type(y),type(z))

<class 'int'> <class 'float'> <class 'complex'>

In [9]:
c = complex(3,4)
print(c)

(3+4j)

In [10]:
c1 = 3+5j #complex
c2 = 6+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+12j)
(-3-2j)
(-17+51j)

In [11]:
a = True #boolean
b = False
x > y

False

In [12]:
#strings
s1 = "abc"
s2 = 'xyz'
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [13]:
i = 100
print(type(i))
s1 = str(i) # str() converts the input into string type
print(type(s1))
f1 = float(i) # float() converts the input into float type
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [14]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [15]:
# A number is given 1234 -
# Digit count
a1 = 1234
print(len(str(a1)))

4