### Collection types:
1. List
2. Tuple
3. Set
4. Dictionary

#### List:
-  One of the Data Structure in Python
-  Data Structure means to store, sort and Search Options
-  It's one Common Data structure in Python, the items of List separeted by comma and enclosed in square brackets []
#### Example
   - list1 = [1,2,3,4,5]
   - list2 = ["Gitam",1,2,1.89,"Vizg"]

In [14]:
li = [1,8,16,9,2]
print(li) # Will print the All the list items
print(li[0]) #Access the first item of the list
print(li[1]) # Access the second item of the list
print(li[-1]) # Access the last item of the list
print(li[-2]) # Access the last second item of the list
print(li[2:])
print(li[2:4])
print(li[::2])

[1, 8, 16, 9, 2]
1
8
2
9
[16, 9, 2]
[16, 9]
[1, 16, 2]

In [15]:
li = ["Gitam",1582,2018,2019,"Vizag"]
print(li)
# Update the list item with value using Index
li[1] = 1234
print(li)

['Gitam', 1582, 2018, 2019, 'Vizag']
['Gitam', 1234, 2018, 2019, 'Vizag']

In [16]:
# Delete the list item from the List
del li[3]
print(li)

['Gitam', 1234, 2018, 'Vizag']

In [17]:
# Basic List Operations
li = [1,2,3,4,5]
# Len of the List
print(len(li))
# List Repetition
print(li * 2)
# To know certain item is present in the list or not
print(4 in li)
print(10 in li)
# Access the list items from the Iterations
# 1 way to define
for i in range(len(li)):
    print(li[i],end=' ')
print()
# 2 way to print the list items
for i in li:
    print(i,end=' ')

5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
True
False
1 2 3 4 5
1 2 3 4 5

In [18]:
# Basic List Functions
li = [1,9,16,25,5]
print(max(li)) # Max number of the List
print(min(li)) # Min number of the list
print(sum(li)) # Sum of All list items
print(sum(li)//len(li)) #Avg of List items

25
1
56
11

In [19]:
li = [1,9,16,25,5]
li.append(29) # Add the new item at the end of list
li.insert(2,56) # Add the new item at the specific index
li.append(9)
li.count(9) # returns the value how many object repeated 
li.index(56) # return the value at that index

2

In [20]:
# Method of List Object
li.sort() # Sorts the list in asending order
li.pop() # last index value
li.pop(1) # Removes the items from the specified index
li

[1, 9, 9, 16, 25, 29]

In [21]:
li1 = [1,6,19,25]
li.extend(li1)
li.reverse()
li.sort()

In [22]:
# Function to return the large number from the list
def largeNumber(li):
    li.sort()
    return li[-1]
def genericLarge(li,n):
    li.sort()
    return li[-n]
li = [19,1,25,6,9,45,22]
print(largeNumber(li))
print(genericLarge(li,3))

45
22

In [23]:
# Function to find least and Generic Least number from the list
def leastNumber(li):
    li.sort()
    return li[0]
def genericLeastNumber(li,n):
    li.sort()
    return li[n-1]
li = [19,1,25,6,9,45,22]
print(leastNumber(li))
print(genericLeastNumber(li,4))

1
19

### Tuples
- parenthesis()-->Tuple and square brackets[]-->list
- Difference between list and tuples
    - list are mutable - can be changed / modified
    - Used to access modify, Add, Delete data
    - Tuples are immutable - cannot be changed
    - Used to access data only

In [24]:
t1 = (1,2,3,4,5,6)
t1
print(type(t1),t1[1:5])

<class 'tuple'> (2, 3, 4, 5)

### Dictionaries
1. It works on the concept of Set Unique Data
2. Keys,Values is the unique identifier for a value
3. Each key is separted from its values with colon(:)
4. Each key and value is separted by comma(,)
5. Dictionaries enclosed with Curly braces({})

In [26]:
d1 = {"Name":"Gitam","EmailId":"gitam@gmail.com","Address":"Hyderabad"}
print(d1)

{'Name': 'Gitam', 'EmailId': 'gitam@gmail.com', 'Address': 'Hyderabad'}

In [27]:
d1["Name"] # Acces the specific key

'Gitam'

In [28]:
d1['EmailId'] = 'Gitam-Python@gmail.com' # Update the data

In [29]:
d1['EmailId']

'Gitam-Python@gmail.com'

In [30]:
d1['course'] = 'python'#Adding an entry
d1

{'Name': 'Gitam',
 'EmailId': 'Gitam-Python@gmail.com',
 'Address': 'Hyderabad',
 'course': 'python'}

In [31]:
del d1['EmailId'] # Delete the specific key value

In [32]:
d1 # del d1 will delete the entire dict object

{'Name': 'Gitam', 'Address': 'Hyderabad', 'course': 'python'}

In [33]:
d1.keys() # returns the list of keys

dict_keys(['Name', 'Address', 'course'])

In [34]:
d1.values() # returns the values

dict_values(['Gitam', 'Hyderabad', 'python'])

In [35]:
d1.items() # the ist of tuples of keys and values

dict_items([('Name', 'Gitam'), ('Address', 'Hyderabad'), ('course', 'python')])

In [36]:
#for loop using an iterable object
str1 = "python programming"
for i in str1:
    print(i,end="   ")

p   y   t   h   o   n       p   r   o   g   r   a   m   m   i   n   g

In [37]:
#printing list elements
list1 = [23,3,4,54,6,57]
for i in list1:
    print(i)

23
3
4
54
6
57

In [38]:
#printing only even elements from the given list
for i in list1:
    if i%2 == 0:
        print(i)

4
54
6

### Strings:
- Strings
- String Slicings
- Fundamental Programming with String in Python

In [1]:
s1 = 'Python'
print(s1)
print(type(s1))

Python
<class 'str'>

In [2]:
s1 = 'Python'
print(s1[0]) # Access the first character
print(s1[1]) # Access the second character
print(s1[5]) # Last character
print(s1[len(s1)-1]) # Access the last character

P
y
n
n

In [3]:
print(s1[-1]) #Another way Access the last charcter
print(s1[-2]) # Another wayt to access the last second character
print(s1[0:2]) # Access the first characters
print(s1[:2]) # Access the first characters
print(s1[-3:]) # Last three characters
print(s1[2:]) # From second character to last character

n
o
Py
Py
hon
thon

In [4]:
print(s1[1:-1]) # printing all character expect first and last
print(s1[len(s1)//2]) # Middle of the string
print(s1[-1::-1]) # Reverse of the string
print(s1[-1:-3:-1]) # Access the last two characters in reverse order
# Access the alternate characters
print(s1[::2]) # two characters 
print(s1[::3]) # three characters
print(s1[::-2]) # from reverese order

ytho
h
nohtyP
no
Pto
Ph
nhy

In [5]:
#Reversing a string
def reverseString(str):
    return str[-1::-1]
reverseString("Programming")

'gnimmargorP'

In [6]:
#check whether the given string is palindrome or not
def isPalindrome(str):
    if str == str[::-1]:
        return True
    else:
        return False
    return 
print(isPalindrome("Python"))
print(isPalindrome('ganag'))

False
True

In [7]:
def isPalindrome(str):
    return str == str[::-1]
print(isPalindrome("Python"))
print(isPalindrome('ganag'))

False
True

### String Built-in methods:
1. upper() -- Will convert the input string into Upper Case
2. lower() -- Will convert the input string into Lower case

In [8]:
s1 = 'Python'
print(s1.upper())
print(s1.lower())

PYTHON
python

### String Boolean Built-in methods
3. islower() -- True if the string have all characters lower case
4. isupper() -- True if the string have all characters upper case
5. istitle() -- True if the string in title case
6. isnumeric() -- True if the string numeric
7. isalpha() -- True if the string only alaphabets
8. isspace() -- True if the string is space

In [9]:
s1 = "python"
print(s1.islower())
print(s1.isupper())

True
False

In [39]:
s2 = "Python Programming"
s3 = "python Programming"
print(s2.istitle())
print(s3.istitle())

True
False

In [11]:
s1 = "123456"
s2 = "Py123"
print(s1.isnumeric())
print(s2.isnumeric())

True
False

In [12]:
s1 = "Py123456"
s2 = "Python"
print(s1.isalpha())
print(s2.isalpha())

False
True

In [13]:
s1 = "Py123456"
s2 = "Python"
print(s1.isalpha())
print(s2.isalpha())

False
True

In [40]:
s1 = " "
s2 = "Py th on"
print(s1.isspace())
print(s2.isspace())

True
False

## String Methods
- join() -- Method will concatinates the two strings
- split() -- split() returns th a list of strings separted by whitespace(no parameters are given)
- replace() -- replaces the specfic word/character with new word/character

In [41]:
s1 = 'Python'
print(" ".join(s1))

P y t h o n

In [42]:
s2 = "Python Programming Easy to learn"
print(",".join(s2))

P,y,t,h,o,n, ,P,r,o,g,r,a,m,m,i,n,g, ,E,a,s,y, ,t,o, ,l,e,a,r,n

In [43]:
li = ['Python','Programming','Learn']
print(",".join(li))

Python,Programming,Learn

In [44]:
s2 = "Python Programming Easy to learn"
print(s2.split())

['Python', 'Programming', 'Easy', 'to', 'learn']

In [45]:
s2 = "Python Programming Easy to learn"
print(s2.split('a'))

['Python Progr', 'mming E', 'sy to le', 'rn']

In [46]:
s2 = "Python Programming Easy to learn"
li = s2.split() # Split the string -- list object
print(li)
print(len(li))

['Python', 'Programming', 'Easy', 'to', 'learn']
5

In [47]:
s2 = "Python Programming Easy to learn"
li = list(s2)
print(li)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'E', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [48]:
s2 = "Python Programming Easy to learn"
print(s2.replace("gra","Application"))

Python ProApplicationmming Easy to learn